$primary: #fff;
$primary-opposite: #000;
$secondary: tomato;
* {
  margin: 0;
  font-family: "Segoe UI";
}
.wrapper {
  background-color: darken($primary, 3%);
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    max-width: 1100px;
    margin: auto;
    box-shadow: 0 0 1px gray;
    background-color: $primary;
  }
}
.header {
  position: fixed;
  width: 100vw;
  max-width: 1100px;
  background: $primary;
  border-bottom: 1px solid rgba($primary-opposite, 0.07);
  align-items: center;
  display: flex;
  justify-content: space-between;
  .header-nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      color: rgba($primary-opposite, 0.8);
      padding: 15px;
      margin: 4px;
      border-radius: 4px;
      transition: background-color 400ms;
    }
    a:hover {
      background-color: darken($primary, 17%);
    }
    .active {
      a {
        background-color: darken($primary, 5%);

        transition: background-color 400ms;
      }
      a:hover {
        background-color: darken($primary, 17%);
      }
    }
  }
  .header-logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba($secondary, 0.7);
    padding: 20px;
  }
}
.spacer {
  height: 80px;
}
.img-section {
  overflow: auto;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;

  img {
    margin: auto;
    width: 95%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba($primary-opposite, 0.3);
  }
}
.table-section {
  border: 1px solid rgba($primary-opposite, 0.07);
  margin: 10px;
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: rgba($primary-opposite, 0.8);
  }
  td {
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: rgba($primary-opposite, 0.6);
    label {
      display: flex;
      justify-content: center;
    }
  }
  tr {
    transition: background-color 200ms;
  }
  tr:nth-child(even) {
    background-color: darken($primary, 3%);
  }
  tr:hover {
    background-color: darken($primary, 5%);
  }
}
.filter-section {
  border: 1px solid rgba($primary-opposite, 0.07);
  margin: 10px;

  .ages {
    display: flex;
    padding: 5px;

    button {
      background-color: darken($primary, 5%);
      text-transform: uppercase;
      border-radius: 5px;
      margin: 2px;
      padding: 15px;
      text-decoration: none;
      border: hidden;
      opacity: 0.5;
    }

    .button-active {
      transition: background-color 400ms;
      background-color: lighten(green, 57%);
      opacity: 1;
    }
    .button-active:hover {
      background-color: lighten(green, 70%);
      opacity: 1;
    }
    .button-all {
      background-color: teal;
      color: white;
      opacity: 1;
      transition: background-color 400ms;
    }
    .button-all:hover {
      background-color: lighten(teal, 5%);
      opacity: 1;
    }
  }
  .ranges {
    display: flex;
    flex-direction: column;

    .range {
      display: flex;
      align-items: center;
      padding: 5px;
      label {
        width: 70px;
        text-align: center;
        font-weight: 600;
        color: rgba($primary-opposite, 0.8);
      }

      input {
        margin: 2px 2px;
        padding: 5px;
        background-color: darken($primary, 6%);
        border: 1px solid rgba($primary-opposite, 0.05);
        border-radius: 3px;
      }
      input:disabled {
        background-color: darken($primary, 16%);
      }
    }
  }
}
.detail-section {
  border: 1px solid rgba($primary-opposite, 0.07);
  margin: 10px;
  .detail-item {
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 5px 0;
  }
  .detail-item:nth-child(even) {
    background-color: darken($primary, 4%);
  }
  label {
    font-weight: 500;
    font-size: 1rem;
    margin: 0 10px;
    color: rgba($primary-opposite, 0.6);
  }

  .value {
    font-weight: 600;
    margin: 0 10px;
    font-size: 1.2rem;
    color: rgba($primary-opposite, 0.8);
  }
}
